[Unit]
Description=MTGC daily price update ({{INSTANCE}})

[Timer]
OnCalendar=*-*-* 06:00:00
RandomizedDelaySec=1800
Persistent=true

[Install]
WantedBy=timers.target
