name: Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: /home/ryangantt/workspace/efj-mtgc

      - name: Run deploy script
        run: bash /home/ryangantt/workspace/efj-mtgc/deploy/deploy.sh
